@font-face { /*подтягивание стиля из папки стилей текста*/
    font-family: "DMSans-Regular";
    font-style: normal; /*дефолтные значения*/
    font-weight: normal;/*дефолтные значения*/
    src: url(../fonts/DMSans-Regular.ttf);
}