.Navigation{
    margin: auto;
    width: 1140px;
    height: 60px;
    background-color: #1D2F30;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}

.headerLeft{
    display: flex;
    align-items: center;
}

.headerRight{
    display: flex;
    align-items: center;
}

.sections{
    margin-left: 125px;
}

.burger{
    width: 35px;
    height: 35px;
    background-image: url(../imgs/hamburger.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
    margin-right: 50px;
    
}

.sections ul{
    width: 512px;
    display: flex;
    justify-content: space-between;
}

.sections li{
    list-style-type: none;
}

.sections a {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'OpenSans-Regular';
}

.profile{
    margin-left: 64px;  
}