.exclusive{  
    padding: 0 32px;
    margin-bottom: 120px;
}

.box-up{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.title{
    width: 794px;
    margin-bottom: 40px;
}

.title span{
    font-size: 72px;
    line-height: 86px;
    color: #212529;
    text-transform: uppercase;
    font-family: "helvetica_regular";
}

.description{
    width: 445px;    
}

.description span{
    font-size: 20px;
    line-height: 28px;
    color: #212529;
}

.referance a{   
    display: block;
    margin-top: 235px;
    border-bottom: solid 1px rgba(33, 37, 41, 1);
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #212529;
    font-family: "Roboto-Regular";
}

.two-imgs{
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    bottom: 84px;
}

.smoll{
    width: 329px;
    height: 493px;    
}

.large{
    width: 678px;
    height: 809px;    
}

.box-history{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    padding: 0 32px; 
}


.first-box{
    margin-right: 135px;  
}

.first-box span{
    font-size: 48px;
    line-height: 66px;
    color: rgba(33, 37, 41, 1);
    font-family: "helvetica_regular";

}

.second-box{
    margin-bottom: 44px;
}

.second-box span{
    display: block;
    padding-right: 233px;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
    color: #212529;
    font-family: "Roboto-Regular";
}

.second-box span:last-child{
    margin-bottom: 0;
}

.fird-box span{ /*Как можно оставить пропорции текста но при этом убрать свойства ширины и высоты?*/
    display: block;
    color: #212529; 
    width: 146px;
    height: 44px;
}

.fird-box span:nth-child(1),
.fird-box span:nth-child(3),
.fird-box span:nth-child(5){
    font-size: 36px;
    line-height: 50px;
}

.fird-box span:nth-child(2),
.fird-box span:nth-child(4),
.fird-box span:nth-child(6){
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px;
}

.fird-box span:nth-child(6){
    margin-bottom: 0;
}

.box-work{
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
} 

.box-work .box-work-title span{
    font-size: 48px;
    line-height: 66px;
    color: #212529;
    font-family: "Helvetica_Regular";
}

.intro{
    width: 325px;
}

.intro span{  /*Почему не работает правый отступ для сохранения пропорций текста и задается только через ширину блока*/
    display: block;
    font-size: 16px;
    line-height: 22px;
    padding: 22px 0px 44px 4px;
  
} 

.box-work-points .idea, .task, .offer, .preparation, .production{
    display: flex;
    margin-bottom: 24px;
    border-bottom: solid 1px black;
}

.box-work-points .title-one{
    width: 328px; /*Необходимо ли задвать здесь ширину или надо избавиться от неё?*/
    font-size: 36px;
    line-height: 50px;
    margin-right: 20px;
    
}

.box-work-points .title-two{
    width: 329px; /*Необходимо ли задвать здесь ширину или надо избавиться от неё?*/
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24px;
}

.box-work-points .production:last-child{
    margin-bottom: 0;
}

.gallery{
    padding: 0 32px;
    margin-bottom: 120px;
}

.project{
    margin-bottom: 32px;
}

.project span{
    font-size: 48px;
    line-height: 66px;
    color: #212529;
    margin-bottom: 32px;
}

.pictures{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.gallery .pictures img{
    width: 100%;
    
}

.coments-block{
    padding: 0 32px 120px 32px;
    margin-bottom: 32px;
}

.coments-block span{
    display: block;
    font-size: 48px;
    line-height: 66px;
    color: #212529;

}

.people-block{
    display: flex;
    justify-content: space-between;
}


.people-one, .people-two{
    margin-right: 20px;
}

.people-one, .people-two, .people-three{ /*как выровнить по цендру внутренние блоки*/

    width: 445px;
    height: 327px;
    border: solid 1px black;
    
}

.people-block p{ /*для img картинки ввиде запятых*/ /*выравнивания по центру необходимо заключить в теш <p> или можно другим способом???*/
    padding: 45px 0 37px 0;
    text-align: center;
}


.people-one div, .people-two div, .people-three div{
    padding: 0 40px;
}
.people-block .name{
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold; 
    margin-bottom: 20px;
}

.people-block span{
    text-align: center;
    font-size: 16px;
    line-height: 22px;  
}